*:focus{
    outline:5px solid #D74668;
  }
  form :enabled{
    background-color: #fff;
  }
  form :disabled{
    background-color: #fb0;
  }
  form :checked{
    width: 20px;
    height: 20px;
  }
  .link:link{
    display:block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #09f;
    width: 150px;
    height: 50px;
    padding: 15px;
    text-align:center;
    color:#fff;
    text-decoration: none;
    margin-bottom: 20px;
  }
  .link:hover{
    background-color: #555;
  }
  .link:active{
    background-color: #0c9;
  }
  .link:visited{
    background-color: #cc9;
    color:#000;
  }
  body{
    background-color: #76C267;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;
  }
  *{
    outline:none;
    transition: outline .3s ease, width .3s ease, height .3s ease;
  }
  form{
    width: 300px;
  }
  form *{
    margin-bottom: 15px;
    
  }
  legend{
    background: #fff;
  }
  [type="text"]{
    padding: 10px;
  }